body {
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  font-family: "Merriweather", serif;
}

a {
  color: #11999e;
}

span {
  text-decoration: underline;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.bottom-cloud {
  position: absolute;
  left: 25%;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 25%;
}
.icon {
  height: 200px;
  float: left;
  margin-right: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}
.yt {
  width: 45%;
  float: right;
  margin-left: 30px;
}
